<div class="box_login">
    <h2><b>Gestión</b>Hermanos</h2>
    <div class="form_login">
      <form [formGroup]="mailForm()">
        <h4>Restaurar Contraseña</h4>
        <div class="input-group has-validation div_login">
          <span class="input-group-text span_login">
            <span class="material-symbols-outlined">mail</span>
          </span>
          <div class="form-floating"
            [class.is-invalid]="mailForm().get('email')?.invalid && mailForm().get('email')?.touched">
            <input type="email" class="form-control"
              [class.is-invalid]="mailForm().get('email')?.invalid && mailForm().get('email')?.touched"
              placeholder="Correo Electrónico" formControlName="email">
            <label for="email">Correo Electrónico</label>
          </div>
          <div *ngIf="mailForm().get('email')?.invalid && mailForm().get('email')?.touched" class="invalid-feedback">
            Ingresar correo válido.
          </div>
        </div>
        <div class="gap-2 btn_container">
          <button class="btn btn-primary btn_back" (click)="goLogin()"><span class="material-symbols-outlined span_back">
            keyboard_backspace
          </span></button>
          <button class="btn btn-primary btn_enviar" (click)="submit()">Enviar</button>
        </div>
      </form>
    </div>
  </div>